:root {
    --orange: #e8ba71;
    /* Orange */
    --dunkelblau: #213e60;
    /* Dunkelblau */
    --beige: #d8d1bd;
    /* Beige */
    --weiss: #f4f2ef;
    /* Weiss */
}

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: var(--weiss);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'aptly', sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 99vh;
    width: 100%;
    max-width: 400px;
    padding: 2rem 1rem; 
    box-sizing: border-box;
    text-align: center;
}

.titel {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    line-height: 0.9;
}

.titel h1 {
    color: var(--dunkelblau);
    font-size: clamp(60px, 12vw, 110px);
    font-weight: 700;
    margin: 0;
}

h1 {
    color: var(--dunkelblau);
    text-align: center;
    margin: 0;
    font-family: Aptly;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* h2 {
    font-size: 20px;
    color: var(--dunkelblau);
    margin: 10px;
} */


/*index.html*/

/*class mit h2*/
.subtitle {
    color: var(--dunkelblau);
    font-size: clamp(16px, 3.5vw, 22px);
    /* responsive Schriftgröße */
    font-weight: 700;
    /* text-align: center; */
    margin: 2rem 0;
    line-height: 1.3;
    max-width: 90%;
}

.all-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/*decision.html*/

h2.titelentscheid {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben am Bildschirm */
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

    /* Container für die beiden Divs */
    .entscheidungscontainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10rem;
        flex-wrap: wrap;
        /* erlaubt Umbruch bei schmalem Bildschirm */
    }

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wohere {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stufe {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.gfroerlistufen {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.date-label {
    margin-top: 20px;
    font-size: 18px;
    color: var(--dunkelblau);

}

input[type="date"] {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid var(--dunkelblau);
    border-radius: 5px;
}

    /*dropdown*/

    #orte {
        width: 338px;
        height: 56px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--weiss);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 21px;
    }

/*results.html*/

body.result-body {
    background-color: var(--orange) !important;
    min-height: 100vh;
    display: flex;
}

.result-footer {
    background-color: var(--weiss);
    width: 792px auto;
    bottom: 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-radius: 174px 174px 0px 0px;

    /* Positionierung unten am Bildschirm */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.spruch {
    color: var(--dunkelblau);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle-result {
    color: var(--weiss);
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.temperatur {
    color: var(--weiss);
    text-align: center;
    font-family: Aptly;
    font-size: 135px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-titel {
    color: var(--dunkelblau);
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: var(--weiss);
    text-align: center;
    font-family: Aptly;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* daten.html */

body.daten-body {
    background-color: var(--dunkelblau) !important;
}

.zruegg-button-daten {
    width: 137px;
    height: 51px;
    border-radius: 20px;
    border: 4px solid var(--orange);
    background: var(--dunkelblau);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--orange) inset;

    /*font*/
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben links */
    position: fixed;
    /* bleibt beim Scrollen sichtbar */
    top: 50px;
    /* Abstand vom oberen Rand */
    left: 50px;
    /* Abstand vom linken Rand */
    z-index: 100;
    /* damit nichts drüberliegt */
}

.wohere_daten {
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date-label {
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*dropdown*/

    #orte_daten {
        width: 338px;
        height: 82px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--dunkelblau);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 21px;
    }

    /* date-label */
    #date {
        width: 338px;
        height: 82px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--dunkelblau);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 21px;
    }



/*buttons*/

.zruegg-button {
    width: 137px;
    height: 51px;
    border-radius: 20px;
    border: 4px solid var(--dunkelblau);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--dunkelblau) inset;

    /*font*/
    color: var(--dunkelblau);
    text-align: center;
    font-family: Aptly;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben links */
    position: fixed;
    /* bleibt beim Scrollen sichtbar */
    top: 50px;
    /* Abstand vom oberen Rand */
    left: 50px;
    /* Abstand vom linken Rand */
    z-index: 100;
    /* damit nichts drüberliegt */
}

/* button index.html */

.yes-button {
    width: clamp(240px, 70%, 340px);
    height: clamp(60px, 10vh, 90px);
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background-color: var(--weiss, #F4F2EF);
    box-shadow: 0 0 13px 4px #E8BA71 inset;
    font-size: clamp(28px, 7vw, 50px);
    font-weight: 700;
    color: var(--orange);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* width: 338px;
    height: 97px;
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background: var(--weiss, #F4F2EF);
    flex-shrink: 0;

    /* shadow button */
    /* box-shadow: 0 0 13px 4px #E8BA71 inset; */

    /*font*/
    /* font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--orange); */

    /* Positionierung unten am Bildschirm */
    /* position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; */
}

.yes-button:hover {
    background-color: var(--orange);
    color: var(--weiss);
}

/* button decision.html */

.findsuse-button {
    width: 338px;
    height: 97px;
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px #E8BA71 inset;

    /*font*/
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--orange);

    /* Positionierung unten am Bildschirm */
    position: relative;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.auswahlbutton {
    width: 111px;
    height: 113px;
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px #E8BA71 inset;

    /*font*/
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--orange);

}

.auswahlbutton.active {
    background: var(--dunkelblau);
    color: var(--weiss);
    outline: 2px solid transparent;
    transform: translateY(-1px);
    /* border-color: #007bff; */
    /* box-shadow: 0 0 8px rgba(0, 123, 255, 0.4); */
}

/* button results.html */

.ergebnis-button {
    width: 122px;
    height: 87px;
    border-radius: 20px;
    border: 4px solid var(--dunkelblau);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--dunkelblau) inset;
}

.footer-button {
    /*font*/
    color: var(--dunkelblau);
    text-decoration: none;
    text-align: center;
    font-family: Aptly;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 650px) {
    .page-container {
        justify-content: space-evenly;
        padding: 3vh 1rem;
    }
    
    titel h1 {
        font-size: clamp(50px, 10vw, 90px);
    }

    .yes-button {
        height: 60px;
        font-size: 24px;
    }
    
}