:root {
    --orange: #e8ba71;
    /* Orange */
    --dunkelblau: #213e60;
    /* Dunkelblau */
    --beige: #d8d1bd;
    /* Beige */
    --weiss: #f4f2ef;
    /* Weiss */
}

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: var(--weiss);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'aptly', sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 99vh;
    width: 100%;
    /* max-width: 400px; */
    padding: 50px 16px; 
    box-sizing: border-box;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-container a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.titel {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    line-height: 0.9;
}

.titel h1 {
    color: var(--dunkelblau);
    font-size: clamp(60px, 12vw, 110px);
    font-weight: 700;
    margin: 0;
}

h1 {
    color: var(--dunkelblau);
    text-align: center;
    margin: 0;
    font-family: Aptly;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* h2 {
    font-size: 20px;
    color: var(--dunkelblau);
    margin: 10px;
} */


/*index.html*/

/*class mit h2*/
.subtitle {
    color: var(--dunkelblau);
    font-size: 40px;
    /* responsive Schriftgröße */
    font-weight: 700;
    /* text-align: center; */
    margin: 2rem 0;
    line-height: 1.3;
    /* max-width: 90%; */
}

.all-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/*decision.html*/

body.decision-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 40px; /* Platz für den fixierten Titel schaffen */
    box-sizing: border-box;
    background-color: var(--weiss);
}

.decision-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    padding: 100px;
}

h2.titelentscheid {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto 40px;
    position: relative;
}

    /* .auswahlcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
} */

    /* Container für die beiden Divs */
    .entscheidungscontainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4rem;
        flex-wrap: wrap;
        /* width: 100%; */
        max-width: 1200px;
        padding: 0 1rem;
        box-sizing: border-box;
        text-align: center;
    }

    /* Jedes Element soll schön in der Reihe stehen */
    .entscheidungscontainer > div {
        flex: 1 1 250px;
        min-width: 250px;
    }

    /* Zentriere den Button auch im Flow */
    .findsuse {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
}

.wohere {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stufe {
    color: var(--dunkelblau);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.gfroerlistufen {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.date-label {
    margin-top: 20px;
    font-size: 18px;
    color: var(--dunkelblau);

}

input[type="date"] {
    margin-top: 10px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 16px;
    border: 2px solid var(--dunkelblau);
    border-radius: 5px;
}

    /*dropdown*/

    #orte {
        width: 338px;
        height: 56px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--weiss);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 21px;
    }

/*results.html*/

body.result-body {
    background-color: var(--orange) !important;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    height: 100%;
}

.bubbler1 {
    position: fixed;
    left: 5%;
    top: 200px;
    transform: translateX(-50%) scaleX(-1);
    width: 50%;
    max-width: 600px;
    height: auto;
    z-index: 0;
}

.bubbler2 {
    position: fixed;
    right: 5%;
    top: 50px;
    transform: translateX(50%);
    width: 50%;
    max-width: 600px;
    height: auto;
    z-index: 0;
}


.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -150px;
}

.resultat-angaben {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 20px; */
        flex-wrap: wrap;
        /* width: 100%; */
        max-width: 1200px;
        padding: 0 1rem;
        box-sizing: border-box;
        text-align: center;
}

.result-footer {
    background-color: var(--weiss);
    width: relative;
    bottom: 0px;
    padding: 50px 20px 20px 20px;
    text-align: center;
    border-radius: 75px 75px 0px 0px;

    /* Positionierung unten am Bildschirm */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

}

.spruch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spruch {
    color: var(--dunkelblau);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.subtitle-result {
    color: var(--weiss);
    text-align: center;
    font-family: 'Aptly', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto 20px;
    position: relative;
}

.temperatur {
    color: var(--weiss);
    text-align: center;
    font-family: Aptly;
    font-size: 135px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer {
    position: fixed;
}

.footer-titel {
    color: var(--weiss);
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 20px;
}

.footer-daten {
    display: grid;
    grid-template-rows: auto auto;   /* Zeile 1: Label, Zeile 2: Button */
    grid-auto-flow: column;           /* erst nach unten, dann neue Spalte */
    grid-auto-columns: max-content;   /* Spalten so breit wie nötig */
    gap: 6px 16px;                    /* Abstand: Zeilen x Spalten */
    justify-content: center;          /* Gesamtblock zentrieren */
    align-items: start;
    margin-top: 30px;
}

/* Optional, etwas Luft unterm Label */
.footer-label {
    text-align: center;
    margin-bottom: 0.2rem;
}

h3 {
    color: var(--weiss);
    text-align: center;
    font-family: Aptly;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* daten.html */

body.daten-body {
    background-color: var(--dunkelblau) !important;
    display: grid !important;
}

.auswahlcontainer_daten {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.zruegg-button-daten {
    width: 137px;
    height: 51px;
    border-radius: 20px;
    border: 4px solid var(--orange);
    background: var(--dunkelblau);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--orange) inset;

    /*font*/
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben links */
    position: relative;
    /* bleibt beim Scrollen sichtbar */
    top: 50px;
    /* Abstand vom oberen Rand */
    left: 50px;
    /* Abstand vom linken Rand */
    z-index: 100;
    /* damit nichts drüberliegt */
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wohere_daten {
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date-label {
    color: var(--orange);
    text-align: center;
    font-family: Aptly;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

/*dropdown*/

    #orte_daten {
        width: 338px;
        height: 82px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--dunkelblau);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 21px;
    }

    /* date-label */
    #date {
        width: 338px;
        height: 56px;
        flex-shrink: 0;
        margin: 20px 0;
        border-radius: 15px;
        border: 4px solid var(--orange);
        background: var(--dunkelblau);

        /* shadow button */
        box-shadow: 0 0 13px 4px var(--orange) inset;

        /*font*/
        color: var(--orange);
        font-family: Aptly;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        /* padding-left: 21px; */
    }

    #date,
#orte_daten {
  box-sizing: border-box;
  width: 338px;
}



/*buttons*/

.zruegg-button {
    width: 137px;
    height: 51px;
    border-radius: 20px;
    border: 4px solid var(--dunkelblau);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--dunkelblau) inset;

    /*font*/
    color: var(--dunkelblau);
    text-align: center;
    font-family: Aptly;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben links */
    position: fixed;
    /* bleibt beim Scrollen sichtbar */
    top: 50px;
    /* Abstand vom oberen Rand */
    left: 50px;
    /* Abstand vom linken Rand */
    z-index: 100;
    /* damit nichts drüberliegt */
}

.zruegg-button-result {
    width: 137px;
    height: 51px;
    border-radius: 20px;
    border: 4px solid var(--dunkelblau);
    background: var(--orange);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--dunkelblau) inset;

    /*font*/
    color: var(--dunkelblau);
    text-align: center;
    font-family: Aptly;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Positionierung oben links */
    position: fixed;
    /* bleibt beim Scrollen sichtbar */
    top: 50px;
    /* Abstand vom oberen Rand */
    left: 50px;
    /* Abstand vom linken Rand */
    z-index: 100;
    /* damit nichts drüberliegt */
}

/* button index.html */

.yes-button {
    width: 338px;
    height: 97px;
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background-color: var(--weiss, #F4F2EF);
    box-shadow: 0 0 13px 4px #E8BA71 inset;
    color: var(--light-orange, #E8BA71);
    text-align: center;
    font-family: Aptly;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    

    /*
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background: var(--weiss, #F4F2EF);
    flex-shrink: 0;

    /* shadow button */
    /* box-shadow: 0 0 13px 4px #E8BA71 inset; */

    /*font*/
    /* font-size: 64px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--orange); */

    /* Positionierung unten am Bildschirm */
    /* position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; */
}

.yes-button:hover {
    background-color: var(--orange);
    color: var(--weiss);
}

/* button decision.html */

.findsuse-button {
    width: 250px;
    height: 80px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 20px;
    border: 4px solid var(--orange);
  background: var(--weiss);
  color: var(--orange);
  box-shadow: 0 0 13px 4px var(--orange) inset;
  transition: all 0.2s ease;
  position: static; /* Entfernt absolute/relative Positionierung */
}

.findsuse-button:hover {
  background: var(--orange);
  color: var(--weiss);
}

.auswahlbutton {
    width: 111px;
    height: 113px;
    border-radius: 20px;
    border: 4px solid var(--orange, #E8BA71);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px #E8BA71 inset;

    /*font*/
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--orange);

}

.auswahlbutton.active {
    background: var(--dunkelblau);
    color: var(--weiss);
    outline: 2px solid transparent;
    transform: translateY(-1px);
    /* border-color: #007bff; */
    /* box-shadow: 0 0 8px rgba(0, 123, 255, 0.4); */
}

/* button results.html */

.ergebnis-button {
    width: 122px;
    height: 87px;
    border-radius: 20px;
    border: 4px solid var(--dunkelblau);
    background: var(--weiss, #F4F2EF);

    /* shadow button */
    box-shadow: 0 0 13px 4px var(--dunkelblau) inset;
}

.footer-button {
    /*font*/
    color: var(--dunkelblau);
    text-decoration: none;
    text-align: center;
    font-family: Aptly;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 460px) {
    .page-container {
        justify-content: space-evenly;
        padding: 3vh 1rem;
    }
    
    h1.titel {
        font-size: 120px;
    }

    .yes-button {
        height: 60px;
        font-size: 24px;
    }

    h2.titelentscheid {
        font-size: 28px;
    }

    .decision-wrapper {
        padding: 20px;
    }

    .wohere {
        font-size: 28px;
    }

    .stufe {
        font-size: 28px;
    }

    .zruegg-button {
        width: 49px;
        height: 46px;
        font-size: 15px;
        border-radius: 15px;
        border: 3px solid var(--dunkelblau);
        background: var(--weiss);
        box-shadow: 0 0 9.5px 1px var(--dunkelblau) inset;

         /* Positionierung oben links */
        position: absolute;
        /* bleibt beim Scrollen sichtbar */
        top: 20px;
        /* Abstand vom oberen Rand */
        left: 20px;
        /* Abstand vom linken Rand */
        z-index: 100;
        /* damit nichts drüberliegt */
    }

    .zruegg-button-daten {
        width: 49px;
        height: 46px;
        font-size: 15px;
        border-radius: 15px;
        border: 3px solid var(--orange);
        background: var(--dunkelblau);
        box-shadow: 0 0 9.5px 1px var(--orange) inset;

         /* Positionierung oben links */
        position: absolute;
        /* bleibt beim Scrollen sichtbar */
        top: 20px;
        /* Abstand vom oberen Rand */
        left: 20px;
        /* Abstand vom linken Rand */
        z-index: 100;
        /* damit nichts drüberliegt */
    }

    .zruegg-button-result {
        width: 49px;
        height: 46px;
        font-size: 15px;
        border-radius: 15px;
        border: 3px solid var(--dunkelblau);
        background: var(--orange);
        box-shadow: 0 0 9.5px 1px var(--dunkelblau) inset;

         /* Positionierung oben links */
        position: absolute;
        /* bleibt beim Scrollen sichtbar */
        top: 20px;
        /* Abstand vom oberen Rand */
        left: 20px;
        /* Abstand vom linken Rand */
        z-index: 100;
        /* damit nichts drüberliegt */
    }

    .footer-titel {
        font-size: 24px;
        margin-top: -80px;
        margin-bottom: 10px;
    }
    .result-footer {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 40px 20px 20px 20px;
  }

  .footer-daten {
    display: grid;
    grid-template-rows: auto auto;   /* Zeile 1: Label, Zeile 2: Button */
    grid-auto-flow: column;           /* erst nach unten, dann neue Spalte */
    grid-auto-columns: max-content;   /* Spalten so breit wie nötig */
    gap: 6px 16px;                    /* Abstand: Zeilen x Spalten */
    justify-content: center;          /* Gesamtblock zentrieren */
    align-items: start;
    margin-top: 30px;
}

/* Optional, etwas Luft unterm Label */
.footer-label {
    text-align: center;
    margin-bottom: 0.2rem;
}

  .footer-daten::-webkit-scrollbar {
    display: none; /* Scrollbar ausblenden */
  }

  .ergebnis-button {
    width: 84px;                /* feste Breite */
    height: 87px;               /* feste Höhe */
    flex-shrink: 0;             /* verhindert, dass Buttons kleiner werden */
    font-size: 0.7rem;          /* etwas kleinere Schrift */
    padding: 0.3rem;
    border-radius: 8px;
    border: 2px solid #000;
    background: transparent;
    white-space: nowrap;
    text-align: center;
    border-radius: 34px;
  }

  .footer-button {
    display: inline-block;
  width: auto;
  height: auto;
  text-decoration: none;
  color: var(--dark-blue, #213E60);
  font-size: 36px;
  font-weight: 700;
  line-height: 1; 
  }

  .auswahlcontainer_daten {
    position: absolute;
    top: 20px; 
    align-items: center;
    justify-content: center; /* <— wichtig! */
    left: 0;
    right: 0;
  }
    
}