:root {
  --orange: #e8ba71;   /* Orange */
  --dunkelblau: #213e60; /* Dunkelblau */
  --beige: #d8d1bd; /* Beige */
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-family: 'aptly', sans-serif;

}

h1 {
    color: var(--dunkelblau);
    font-size: 150px;
    margin: 10px;
};

h2 {
    font-size: 20px;
    color: var(--dunkelblau);
    margin: 10px;
};

.date-label {
    margin-top: 20px;
    font-size: 18px;
    color: var(--dunkelblau);

};

input[type="date"] {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid var(--dunkelblau);
    border-radius: 5px;
}

.yes-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 40px;
    color: var(--beige);
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    font-family: 'aptly', sans-serif;
}

.ort {
    font-size: 12px;
    color: var(--dunkelblau);
    display: flex;
    justify-content: center;
    right: 10px;
}

.dropdown-info {
  width: 48%;
  margin-top: 2rem;
  text-align: center;
}

.dropdown-info label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--orange);
  display: block;
  margin-bottom: 0.3rem;
}